.landing-hero-container {
	margin-top: -4.5rem;
}

.landing-bg {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.landing-bg-mobile {
	background-image: url('../images/gallery/22.jpg');
	background-position: center;
	background-size: cover;
}

@media (min-width: 768px) {
	.landing-hero-container {
		margin-top: -6rem;
	}
}
